build/
*.ipr
run/
*.iws
out/
docs/out/
node_modules
*.iml
.gradle/
output/
bin/
libs/
docs/luaFabricJavadoc
docs/luaForgeJavadoc

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.idea
.gradle
*.DS_Store
package-lock.json