# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# vscode
.java-version

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
src/test

# other
eclipse
run
run_server
.DS_Store

# Files from Forge MDK
forge*changelog.txt