# Eclipse, Intellij, and VSCode

*.iml
*.ipr
*.iws
*.launch
.classpath
.idea
.java-version
.metadata
.project
.settings
.vscode
eclipse
out
src/test


#Git and Gradle

.gitattributes
.gradle
bin
build
logs
run
run_server
src/generated/resources/.cache

# MacOS and Windows

.DS_Store
desktop.ini
